body {
  /* Margin bottom by footer height */
  position: relative;
  margin: 0.5em;
  padding: 0;
  overflow: auto;
  margin-bottom: 60px;
  font-size: 18px;
  font-family: monospace;
  background-color: #8FBC8F;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* added border to navigation bar*/
.navbar {
    position: relative;
    border: 2px solid black;
}

h1 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}



