<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="Fragments\head :: head">
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
  <div th:replace="Fragments\navbar :: navbar"></div>

<BR><BR>

<h1>
  <p><font size="18px">Quotes from the Creators:</font></p> </h1>

<BR>


<div>

  <p><i>"I have personally struggled with trying to find affordable dental work, eye exams, and urgent care visits.<BR>
    Without health insurance, I had to call different doctor offices to figure out what I could afford.<BR>
    This was incredibly time consuming and disheartening. With Project Ouchy, I am able to search for what I need, <BR>
    and I have the range of prices at the closest offices without the hassle."</i><b>- Bren</b></p>
</div>
<BR><BR>

<div align = "right">
  <p><i>Chrissy's quote</i><b>- Chrissy </b></p>
</div>

<BR><BR>

<div>
  <p><i>Ben's quote</i><b>- Ben </b></p>
</div>

<BR><BR>

<div align = "right">
  <p><i>"Saving all that cash money let me head to the casino!"</i><b>- Ryan </b></p>
</div>



</body>
<footer th:replace="Fragments\footer :: footer"></footer>
</html>