<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="Fragments\head :: head">
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body class="bg-info">
  <div th:replace="Fragments\navbar :: navbar"></div>
  <div align="center">We can all put our quotes here? </div>



<div align="center">

  <p>"I have personally struggled with trying to find affordable dental work, eye exams, and urgent care visits.
    Without health insurance, I had to call different doctor offices to figure out what I could afford.
    This was incredibly time consuming and disheartening. With Project Ouchy, I am able to search for what I need and have the range of prices at the closest offices without the hassle."</p>
</div>


</body>
<footer th:replace="Fragments\footer :: footer"></footer>
</html>