<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="Fragments\head :: head">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="bg-light">
<div th:replace="Fragments\navbar :: navbar"></div>
<div align="center"><h1>Welcome to Project Ouchy.</h1>
</div>
<div class="container">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="questions">
        <!-- Item 1 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
                    Why is healthcare so darn expensive?
                </button>
            </h2>
            <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    Because 'murica.
                </div>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
                    Is your cost info accurate?
                </button>
            </h2>
            <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    Nope, not at all.  This as just an MVP and doesn't contain any real data!
                </div>
            </div>
        </div>
        <!-- Item 3 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
                    What do I need to know?
                </button>
            </h2>
            <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    Brush your teeth, comb your hair, take a shower, eat right, exercise and take care of yourself.
                </div>
                <div class="accordion-body">Also, we care and want to help you as much as possible. You are not alone!</div>
            </div>
        </div>
        <!-- Item 4 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four">
                    How do I sign up?
                </button>
            </h2>
            <div id="question-four" class="accordion-collapse collapse bg-light" data-bs-parent="#questions">
                <div class="accordion-body">
                    See that handy "My Account" button on the navbar up top?  Click on it...
                </div>
                <div class="accordion-body">Make sure your password and email are secure! Eventually, the history of places/procedures you looked up will be visible inside your account login.</div>
            </div>
        </div>
        <!-- Item 5 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-five">
                    Where can I get insurance if I need it?
                </button>
            </h2>
            <div id="question-five" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    www.healthcare.gov
                </div>
            </div>
        </div>
        <!-- Item 6 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-six">
                    Is this website only for those that are uninsured?
                </button>
            </h2>
            <div id="question-six" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    Absolutely not! Not everyone has good or "platinum" insurance plans, and we are here to help you as well!
                </div>
            </div>
        </div>
        <!-- Item 7 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-seven">
                    How do you find your information about the services providers listed on Project Ouchy?
                </button>
            </h2>
            <div id="question-seven" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    Our team has contacted these providers and gotten the information straight from their office. Let us help you find affordable healthcare in your area!!
                </div>
            </div>
        </div>
        <!-- Item 8 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-eight">
                    Can I find service providers for my pets?
                </button>
            </h2>
            <div id="question-eight" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    Not yet at this time. Perhaps in the future... Go to www.lemonade.com
                </div>
            </div>
        </div>
        <!-- Item 9 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-nine">
                    What services do you provide information on?
                </button>
            </h2>
            <div id="question-nine" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                    Click on the Services tab above!
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<footer th:replace="Fragments\footer :: footer"></footer>
</html>