<!DOCTYPE html>
<html lang="en" xmlns:th="\ahttps://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="Fragments\head :: head"></head>
<body class="bg-light">
<div th:replace="Fragments\navbar :: navbar"></div>
<div align="center">Welcome to Project Ouchy
</div>
<div align="center">

<iframe src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" width="800" height="800" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/C9x8gX02SnMIoAClXa">via Unsplash</a></p>

</div>

<div align="center">No Insurance?? No Problem! Let us Help You Find Affordable Healthcare!
    <span class = "fa fa-star unchecked"></span>
</div>

</body>
<footer th:replace="Fragments\footer :: footer"></footer>
</html>