<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="Fragments\head :: head"></head>
<body class="bg-light">
<div th:replace="Fragments\navbar :: navbar"></div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col">
            <th:block th:each="service : ${services}">
                <br>
                <div class="row border border-secondary rounded" >
                    <div class="col text-center">
                        <h2 th:text="${service.serviceName}"></h2>
                        <h4 th:text="${service.serviceDescription}"></h4>
                            <th:block th:each="provider : ${providers}">
                                <th:block th:each="serv : ${provider.providerServices}">
                                    <th:block th:if="${serv.serviceID == service.serviceId}">
                                        <div class="row">
                                            <div class="col-lg-3 text-start" th:text="${provider.providerName}"></div>
                                            <div class="col-lg-3 text-start" th:text="${provider.providerPhone}"></div>
                                            <div class="col-lg-3 text-start" th:text="${provider.providerEmail}"></div>
                                            <div class="col-lg-3 text-end" th:text="${'$' + serv.serviceCost}"></div>
                                        </div>
                                    </th:block>
                                </th:block>
                            </th:block>
                        <br>
                    </div>
                </div>
                <br>
            </th:block>
        </div>
        <div class="col-lg-2"></div>
    </div>
</body>
<footer th:replace="Fragments\footer :: footer"></footer>
</html>