<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="Fragments\head :: head"></head>
<body class="bg-light">
<div th:replace="Fragments\navbar :: navbar"></div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col">
            <th:block th:each="prov : ${providers}">
                <br>
                <div class="row border border-secondary rounded" >
                    <br>
                    <div class="col text-center">
                        <h4 th:text="${prov.providerName}"></h4>
                        <br>
                        <p th:text="${'EMAIL:  ' + prov.providerEmail}"></p>
                        <p th:text="${'PHONE:  ' + prov.providerPhone}"></p>
                        <p th:text="${'ADDRESS:  ' + prov.providerAddress}"></p>
                    </div>
                    <div class="col text-center">
                        <h4> Services Offered</h4>
                        <th:block th:each="serv : ${prov.providerServices}">
                            <p>
                               <span class="text-left" th:text="${serv.serviceName}"></span>
                               <span class="text-left" th:text="${serv.serviceCost}"></span>
                            </p>
                        </th:block>
                    </div>
                </div>
                <br>
            </th:block>
        </div>
        <div class="col-lg-2"></div>
    </div>
</body>
<footer th:replace="Fragments\footer :: footer"></footer>
</html>