<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="Fragments\head :: head"></head>
<body class="bg-light">
<div th:replace="Fragments\navbar :: navbar"></div>
    <div class="row">
        <div class="col-lg-2">
            <div class="form-outline mb-4 p-2 text-center">
                <br>
                <a href="/Providers?sort=Asc" class="btn btn-info border border-dark btn-block mb-4">Ascending</a>
                <a href="/Providers?sort=Desc" class="btn btn-info border border-dark btn-block mb-4">Descending</a>
            </div>
        </div>
        <div class="col">
            <th:block th:each="prov : ${providers}">
                <br>
                <div class="row border border-secondary rounded" >
                    <br>
                    <div class="col text-start">
                        <h4 class="text-center" th:text="${prov.providerName}"></h4>
                        <br>
                        <p th:text="${'EMAIL:  ' + prov.providerEmail}"></p>
                        <p th:text="${'PHONE:  ' + prov.providerPhone}"></p>
                        <p th:text="${'ADDRESS:  ' + prov.providerAddress}"></p>
                    </div>
                    <div class="col text-start">
                        <h4 class="text-center"> Services Offered</h4>
                        <br>
                        <th:block th:each="serv : ${prov.providerServices}">
                            <div class="row">
                               <div class="col text-start" th:text="${serv.serviceName}"></div>
                               <div class="col text-end" th:text="${'$' + serv.serviceCost}"></div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <br>
            </th:block>
        </div>
        <div class="col-lg-2"></div>
    </div>
</body>
<footer th:replace="Fragments\footer :: footer"></footer>
</html>