<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="Fragments\head :: head"></head>
<body class="bg-light">
<div th:replace="Fragments\navbar :: navbar"></div>
<div align="center">Welcome to Project Ouchy
</div>
<div align="center">
    <form method="post" class="form-dark">
        <div class="form-group">
            <label class="text-secondary" th:for="username">Username
                <input class="form-control" th:field="${loginFormDTO.username}">
            </label>
            <p class="error" th:errors="${loginFormDTO.username}"></p>
        </div>
        <div class="form-group">
            <label class="text-secondary">Password
                <input class="form-control" th:field="${loginFormDTO.password}" type="password">
            </label>
            <p class="error" th:errors="${loginFormDTO.password}"></p>
        </div>

        <input type="submit" class="btn btn-success mt-3" value="Log In" />
    </form>
    <br>
    <h3>Don't have an account?</h3>
    <a class="btn btn-primary" href="/register">Register Here</a>
</div>

</body>
<footer th:replace="Fragments\footer :: footer"></footer>
</html>