<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="Fragments\head :: head">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="bg-light">
<div th:replace="Fragments\navbar :: navbar"></div>
<div align="center"><h1>Welcome to Project Ouchy.</h1>
</div>
<div align="center">
    <h5>Having no or bad insurance is stressful. </h5>
    <h5>We are here to make it less stressful.</h5>
    <h5>Our passion is to improve lives and simplify access to information</h5>
</div>
<div align="center">
    <img th:src="@{/Images/health_aid.png}" alt = "health"/>
</div>

</body>
<footer th:replace="Fragments\footer :: footer"></footer>
</html>